@import url(https://fonts.googleapis.com/css?family=Ovo);
@import url(https://fonts.googleapis.com/css?family=Muli);
body {
	text-align: center;
	background: url("../images/diahomepage.jpg");
	background-size: cover;
	color: #fff;
	font-family: Helvetica;
}
img {
	width: 100%;
	height: auto;
}
p {
	font-family: 'Ovo', serif;
	font-size: 22px;
}
hr {
	width: 200px;
}
h1, h3 {
	font-family: 'Muli', sans-serif;
}

