@import url(https://fonts.googleapis.com/css?family=Ovo);
@import url(https://fonts.googleapis.com/css?family=Muli);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #222;
	font-family: 'Ovo', serif;
	font-size: 22px;
}
#splash {
	background: url("../images/diahomepage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	color: #fff;
	text-align: center;
	background-position: bottom;
}
img {
	width: 100%;
	height: auto;
}
hr {
	margin:1em auto;
	width: 200px;
}
h1, h3 {
	font-family: 'Muli', sans-serif;
}

