@import url(https://fonts.googleapis.com/css?family=Ovo);
@import url(https://fonts.googleapis.com/css?family=Muli);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: center;
	color: #222;
	font-family: 'Ovo', serif;
	font-size: 22px;
}
header: {
	padding: 40px 0;
}
nav {
	background-color: #940365;
	text-align: center;
	padding: 2.0em 0;
}
a {
	color: #fff;
	text-decoration: none;
	margin-left: 40px;
	margin-right: 40px;
}
main {
	width: 720px;
	float: left;
}
article {
	padding: 20px;
	width: 720px;
	text-align: left;
}
aside {
	width: 320px;
	float: right;
	padding-top: 20px;
}
footer {
	text-align: center;
	padding: 1 em 0;
	background-color: #000;
	color: #fff;
	clear: both;
}
#wrapper {
	width: 1080px;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;


}